<h1 class="tdtext"> Edit a job </h1>
<%= simple_form_for [:admin, @job ] do |f| %>
<h5 class="tdtext"><%= f.input :title %></h5>
<h5 class="tdtext"><%= f.input :description %></h5>
<h5 class="tdtext"><%= f.input :wage_lower_bound, :label => "薪资下限" %></h5>
<h5 class="tdtext"><%= f.input :wage_upper_bound, :label => "薪资上限" %></h5>
<h5 class="tdtext"><%= f.input :contact_email %></h5>
<h5 class="tdtext"><%= f.input :is_hidden %></h5>
<h5 class="tdtext"><%= f.submit "Submit" %></h5>
<% end %>
