<div class="resume_bg row">
    <div class="resume_title container">
        <h1></h1>
    </div>
</div>
<div class="container"></div>
    <hr>


<h3 class="tdtext"> 投交履历到 <%= @job.title %> </h3>

<hr>
<%= simple_form_for [@job, @resume] do |f| %>
<h4 class="tdtext">  <%= f.input :content %></h4>
  <h4 class="tdtext"> <%= f.input :attachment %></h4>
  <h4 class="tdtext"> <%= f.submit "送出" %></h4>
<% end %>
