<div class="resume_bg row">
    <div class="resume_title container">
        <h1></h1>
    </div>
</div>
<div class="container"></div>
    <hr>


<h3> 投交履历到 <%= @job.title %> </h3>

<hr>
<%= simple_form_for [@job, @resume] do |f| %>
  <%= f.input :content %>
  <%= f.input :attachment %>
  <%= f.submit "送出" %>
<% end %>
